


body{
    background-color: crimson;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.container{

    background-color: azure;
    height: 150px;
    width: 700px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
   
    

    
}